fastapi==0.111.0
uvicorn==0.30.0
motor==3.6.0
python-dotenv==1.0.1
pydantic==2.7.4
starlette==0.37.2
websockets==15.0.1
python-socketio[asyncio]==5.14.1
bidict==0.23.1
python-engineio==4.12.3
simple-websocket==1.1.0
wsproto==1.2.0